.el-table.ga-table {
    --el-table-border: 1px solid var(--el-table-border-color);

    --el-table-fixed-left-column:
        inset 10px 0 10px -10px rgb(0 0 0 / 15%);

    --el-table-fixed-right-column:
        inset -10px 0 10px -10px rgb(0 0 0 / 15%);

    .el-table__header-wrapper {
        th.el-table__cell {
            .cell {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.el-table.ga-table.el-table--striped {
    .el-table__body {
        tr.el-table__row--striped:not(.hover-row):not(.current-row) {
            td.el-table__cell {
                background-color: var(--ga-table-stripe-bg-color);
            }
        }
    }
}

