.el-dialog.ga-dialog {
  --el-dialog-bg-color: var(--ga-dialog-bg-color, var(--el-bg-color));
  --el-dialog-border-radius: var(
    --ga-dialog-border-radius,
    var(--el-border-radius-base)
  );
  --ga-dialog-header-action-size: 48px;
  --ga-dialog-header-action-icon-size: 30px;

  &.ga-dialog--fullscreenable {
    > .el-dialog__header {
      padding-right: calc(
        var(--el-dialog-padding-primary) +
          var(--ga-dialog-header-action-size) +
          var(--ga-dialog-header-action-size)
      );
    }

    &.ga-dialog--without-close {
      > .el-dialog__header {
        padding-right: calc(
          var(--el-dialog-padding-primary) +
            var(--ga-dialog-header-action-size)
        );
      }

      > .el-dialog__header > .ga-dialog__fullscreenbtn {
        right: 0;
      }
    }
  }

  > .el-dialog__header > .ga-dialog__fullscreenbtn {
    position: absolute;
    top: 0;
    right: var(--ga-dialog-header-action-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--ga-dialog-header-action-size);
    height: var(--ga-dialog-header-action-size);
    padding: 0;
    color: #606266;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;

    &:hover > .ga-dialog__fullscreen-icon {
      color: var(--el-color-primary);
      background-color: #409eff1a;
    }

    &:focus-visible > .ga-dialog__fullscreen-icon {
      border-radius: 4px;
      outline: 2px solid var(--el-color-primary);
      outline-offset: -4px;
    }
  }

  > .el-dialog__header
    > .ga-dialog__fullscreenbtn
    > .ga-dialog__fullscreen-icon {
    box-sizing: border-box;
    width: var(--ga-dialog-header-action-icon-size);
    height: var(--ga-dialog-header-action-icon-size);
    padding: 5px;
    color: inherit;
    border-radius: 4px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:
      color var(--el-transition-duration-fast),
      background-color var(--el-transition-duration-fast);
  }

  .el-dialog__close {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    color: #606266;

    &:hover {
      background-color: #409eff1a;
    }
  }

  .el-dialog__headerbtn:focus-visible .el-dialog__close {
    color: var(--el-color-primary);
    background-color: #409eff1a;
  }
}
