.el-dialog.ga-dialog {
  --el-dialog-bg-color: var(--ga-dialog-bg-color, var(--el-bg-color));
  --el-dialog-border-radius: var(
    --ga-dialog-border-radius,
    var(--el-border-radius-base)
  );

  .el-dialog__close {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    color: #606266;

    &:hover {
      background-color: #409eff1a;
    }
  }

  .el-dialog__headerbtn:focus-visible .el-dialog__close {
    color: var(--el-color-primary);
    background-color: #409eff1a;
  }
}
