.el-dialog.ga-dialog {
    --el-dialog-bg-color: var(--ga-dialog-bg-color, var(--el-bg-color));
    --el-dialog-border-radius: var(--ga-dialog-border-radius,
            var(--el-border-radius-base));
    --ga-dialog-header-action-size: 48px;
    --ga-dialog-header-action-icon-size: 30px;

    .ga-dialog__header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ga-dialog__header-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            button {
                padding: 0;
                color: #606266;
                cursor: pointer;
                background: transparent;
                border: 0;
                outline: none;
            }

            .ga-dialog__header-icon {
                box-sizing: border-box;
                width: var(--ga-dialog-header-action-icon-size);
                height: var(--ga-dialog-header-action-icon-size);
                padding: 5px;
                color: inherit;
                border-radius: 4px;
                fill: none;
                stroke: currentColor;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                transition:
                    color var(--el-transition-duration-fast),
                    background-color var(--el-transition-duration-fast);

                &:hover {
                    background-color: #409eff1a;
                }

                &.ga-dialog__close-icon:hover {
                    color: var(--el-color-danger);
                }

                &.ga-dialog__fullscreen-icon:hover {
                    color: var(--el-color-primary);
                }
            }

        }
    }
}